<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>¡Piu Avanti! - Almafuerte</title>
</head>
<body>
    <h1>¡Piu Avanti!</h1>
    <h2>de Almafuerte</h2>
    <p>No te des por vencido, ni aún vencido,</p>
    <p>No te sientas esclavo, ni aún esclavo;</p>
    <p>Trémulo de pavor, piénsate bravo,</p>
    <p>Y arremete feroz, ya mal herido.</p>

    <p>Ten el tesón del clavo enmohecido</p>
    <p>Que ya viejo y ruin, vuelve a ser clavo;</p>
    <p>No la cobarde intrepidez del pavo</p>
    <p>Que amaina su plumaje al primer ruido.</p>

    <p>Procede como Dios que nunca llora;</p>
    <p>O como Lucifer, que nunca reza;</p>
    <p>O como el robledal, cuya grandeza</p>
    <p>Necesita del agua y no la implora…</p>

    <p>¡Que muerda y vocifere vengadora,</p>
    <p>Ya rodando en el polvo, tu cabeza!</p>
</body>
</html>
